<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
 </head><body><!-- logout.html -->
  
   
  
  
  <h1>Redirecting...</h1> 
  <form id="context" action="{{ redirectionURL }}" method="post">
    {% csrf_token %} 
   <input name="data" value="{{ data }}" type="hidden"/> 
  </form> 
  <script>
      document.getElementById('context').submit();
  </script>       
 
</body></html>